<h3>Post: <%= @post.title %></h3>
<p><%= @post.body %></p>


<h3>Type a comment here:</h3>
<form action="/comments" method="post">
  <input type="hidden" name="post_id" value="<%= @post.id %>" />
  <input type="text" name="content" placeholder="Comment" /><br /><br />
  <input type="submit" />
</form>
<br /><br/>

<h3>All comments:</h3>
<ol>
  <% Comment.all.each do |comment| %>
  <li><%= comment.content %>

    <form action="/commentvote" method="post">
      <input type="hidden" name="post_id" value="<%= @post.id%>" />
      <input type="hidden" name="comment_id" value="<%= comment.id %>" />
      <input type="submit" value="Vote Up" />
    </form>
    <form action="/commentdevote" method="post">
      <input type="hidden" name="post_id" value="<%= @post.id%>" />
      <input type="hidden" name="comment_id" value="<%= comment.id %>" />
      <input type="submit" value="Vote Down" />
    </form>

    <!-- <if CommentVote -->
    <p><%= CommentVote.find_by_comment_id(comment.id).try(:num_votes) %> votes</p>
  </li>


    <% end%>
</ol>

<a href='/'>Home</a>
<a href='/sessions/end'>Log Out</a>

